@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

div.col-12 {
  padding-right: 0;
  padding-left: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-color: teal !important;
  color: black !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  background-color: #ceeaee !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  border-bottom: 2px solid ghostwhite;
}

.Navbar-logo {
  margin-left: auto;
  border-radius: 50%;
}

a.nav-link {
  font-size: 1.4rem;
  color: black !important;
  font-family: "sans-serif";
  transition: 0.2s ease-in-out;
  letter-spacing: 1.3px;
}

a.nav-link:hover {
  font-size: 1.5rem;
  filter: brightness(1.5);
}

nav-link:active {
  color: #ff0000;
}

.home-img {
  width: 31px;
  height: 31px;
}

.nav-align {
  margin-right: auto;
}

/*Top-section with avatar start*/

.Top-bg-cont {
  background-image: linear-gradient(
      180deg,
      rgba(1, 173, 168, 0.7),
      rgba(1, 173, 168, 0.7)
    ),
    url("https://cdn.pixabay.com/photo/2015/08/11/22/43/teal-885329_960_720.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  padding: 30px;
  padding-top: 25px;
}

@media only screen and (max-width: 450px) {
  .Top-bg-cont {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
  }

  .Top-image {
    display: none;
  }
}

.bio {
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  border-top: 10px white;
  padding: 20px;
}

@media only screen and (max-width: 450px) {
  .bio {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    width: 100vw;
  }
}

.name {
  font-size: 2.7rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1.2px;
}

#ujjwal {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  filter: brightness(1.5);
  font-family: "Helvetica";
}

.pl-0 {
  margin-left: 10px;
}

.para {
  font-size: 2.2rem;
  color: white;
  text-align: center;
  letter-spacing: 1.2px;
}

.fsd {
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  filter: brightness(1.5);
}

.Top-image {
  display: block;
  height: 400px;
  width: auto;
  margin-top: 2rem;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .Top-image {
    display: none;
  }
}

.cv-button {
  color: ghostwhite;
  font-size: 1.2rem;
  letter-spacing: 1px;
  outline: none;
  border: 2px solid #4169e1;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 50%, black 50%);
  background-size: 100% 200%;
  background-position: 100% 100%;
  transition: 0.4s;
}

.cv-button:hover {
  color: ghostwhite;
  background-position: 0 0;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 8px #4169e1, inset -2px -2px 8px #4169e1;
}

/*About me-section start*/

.About-Me-bg-container {
  background-color: #4169e1;
  background-size: cover;
  min-width: 100vw;

  border-bottom: 1px solid #000;
}

.head {
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "sans-serif";
  color: ghostwhite;
}

.Description {
  font-size: 24px;
  color: ghostwhite;
  font-weight: 200;
  letter-spacing: 1.9px;
  font-family: "satisfy";
}

/*skill section starts*/

.Skill-bg-container {
  background-color: #0c0404;
  background-size: cover;
  height: auto;
  border-bottom: 1px solid black;
  padding-bottom: 30px !important;
  display: flex;
  flex-wrap: wrap;
}

.page-headings {
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}

.range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
}

.section1 {
  display: flex;
  flex-direction: column;
}

.section2 {
  display: flex;
  flex-direction: column;
}

.ranges {
  display: flex;
  margin: 7px 0;
  min-width: 45vw;
}

.range {
  min-width: 40vw;
  height: 25px;
  text-align: center;
  background: lightgray;
  color: lavender;
  letter-spacing: 1.3px;
  margin: 2px 8px;
}

@media only screen and (max-width: 450px) {
  .range {
    width: 73vw;
  }

  .ranges {
    margin: 10px 0;
    margin-left: 0px;
  }

  .html {
    min-width: 60vw;
  }

  .css {
    min-width: 50vw;
  }

  .bootstrap {
    min-width: 60vw;
  }

  .js {
    min-width: 42vw;
  }

  .react {
    min-width: 49vw;
  }

  .node {
    min-width: 60vw;
  }

  .sql {
    min-width: 65vw;
  }

  .mongo {
    min-width: 58vw;
  }

  .python {
    min-width: 36vw;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .range {
    width: 85vw;
  }

  .ranges {
    margin: 10px 0;
    margin-left: 0px;
  }

  .html {
    min-width: 66vw;
  }

  .css {
    min-width: 59vw;
  }

  .bootstrap {
    min-width: 66vw;
  }

  .js {
    min-width: 59vw;
  }

  .react {
    min-width: 55vw;
  }

  .node {
    min-width: 66vw;
  }

  .sql {
    min-width: 76vw;
  }

  .mongo {
    min-width: 66vw;
  }

  .python {
    min-width: 42vw;
  }
}

.html {
  width: 32vw;
  height: 25px;
  background: #d65637;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.css {
  width: 28vw;
  height: 25px;
  background: #2f86b5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bootstrap {
  width: 32vw;
  height: 25px;
  background: #6f19e0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.js {
  width: 24vw;
  height: 25px;
  background: #eed950;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.react {
  width: 28vw;
  height: 25px;
  background: darkturquoise;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.node {
  width: 32vw;
  height: 25px;
  background: #568938;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sql {
  width: 36vw;
  height: 25px;
  background: #4daade;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mongo {
  width: 32vw;
  height: 25px;
  background: #033632;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.python {
  width: 20vw;
  height: 25px;
  background: #425c7a;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media only screen and (max-width: 450px) {
  .skill-cards {
    width: 175px;
  }
}

.skill-cards:hover {
  transform: scale(1.1);
}

.skill-icons:python-dark {
  border-bottom: 1px solid ghostwhite;
}

.skill-card-head {
  font-size: 1.3rem;
  color: whitesmoke;
  filter: brightness(2);
  letter-spacing: 1.7px;
}

/*skill section end*/

/*Project section starts*/

.My-projects-container {
  background-color: #4169e1;
  background-size: cover;
  height: auto;
}

.project-cards {
  width: auto;
  height: 260px;
  padding: 5px;
  margin: 0 3px !important;
  margin-bottom: 30px !important;
  background-color: #4169e1;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  box-shadow: 3px 3px 3px #000261, inset 2px 2px 10px #000261,
    inset -3px -3px 10px #000261;
}

@media only screen and (max-width: 450px) {
  .project-cards {
    height: auto;
  }
}

.project-cards:hover {
  transform: scale(1.1);
}

.project-image {
  height: 125px;
  border-radius: 15px;
  border-bottom: 1px solid black;
}

.project-card-heading {
  font-size: 1.5rem;
  color: ghostwhite;
  text-align: center;
  letter-spacing: 1.5px;
  border-bottom: 1px solid black;
  border-radius: 20px;
}

.tech {
  color: ghostwhite;
  font-size: 18px;
  word-spacing: 10px;
  text-align: center;
  letter-spacing: 1px;
}

/*Footer*/

.footer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://cdn.pixabay.com/photo/2016/11/28/01/34/laptop-1864126_960_720.jpg");
  background-size: cover;
  width: 100vw;
}

.footer-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.contact-list {
  list-style: none;
}

#links {
  text-decoration: none;
  color: #ff0000;
}

#links:hover {
  transform: scale(1.2);
}

.contact-heading {
  font-size: 26px;
  color: #ff0000;
  font-weight: normal;
  filter: brightness(1.3);
}

.contact-para {
  font-size: 21px;
  filter: brightness(2);
  color: ghostwhite;
  letter-spacing: 1.2px;
}

.contact-list {
  list-style: none;
  padding-right: 20rem;
}

.icon {
  margin-top: 10px;
}

hr {
  width: 100vw;
  height: 1px;
  background-color: #4169e1;
  margin-top: 1000px;
}

.cards {
  padding: 0 50px !important;
  position: relative;
  background-color: black;
  border-radius: 10px;
  height: 60px;
  width: 300px !important;
  margin: 10px 0;
  box-shadow: 4px 4px 5px rgb(47, 53, 105), inset 5px 5px 10px royalblue,
    inset -5px -5px 10px royalblue;
  transition: all 0.4s;
}

.cards:hover {
  transform: scale(1.1);
}

.copyright {
  font-size: 16px;
  color: ghostwhite;
}

/*Footer*/
